<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div row center>
      <blockquote>
        <span><%= flash[:success] || flash[:error] %></span>
      </blockquote>
    </div>
    <br><br>
      <% @stores.each do |store| %>
        <div class="row">
        <div class="col s12">
          <span>Nome da loja: <%= store.name %></span>
          <span>Nome do dono da loja: <%= store.owner_name %></span>
        </div>
        <div class="col s12">
          <table>
            <thead>
              <tr>
                <th>Operação</th>
                <th>Receita/despesa</th>
                <th>Valor da operação</th>
              </tr>
            </thead>
            <tbody>
              <% store.transactions.each do |transaction| %>
                <tr>
                  <td><%= transaction.kind.capitalize  %></td>
                  <td><%= transaction.profit_or_loss %></td>
                  <td><%= transaction.price  %></td>
                </tr>
                <tr>
                  <td colspan="3">
                    <span>Total de receitas: <%= number_to_currency(profits(store.transactions) / 100.0) %>
                    <span>Total de despesas: <%= number_to_currency(losses(store.transactions) / 100.0) %>
                    <span>Saldo final: <%= number_to_currency(final_value(store.transactions) / 100.0) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <br><br>
    </div>
      <% end %>
  </div>
</div>
